:root {
  --font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, var(--font-emoji);
  --font-serif: 'Cookie', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, var(--font-emoji);
  --font-mono: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace,
    var(--font-emoji);

  --text-xxs: 0.5rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.45rem;
  --text-xxl: 2rem;

  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;

  --color-primary: #bbcf00;
  --color-primary-light: #deec59;
  --color-primary-dark: #a0b10a;

  --color-light: #f5f4f1;
  --color-dark: #100f0b;

  --color-orange: #edb349;
  --color-red: #f34b3b;
  --color-blue: #3d57e7;
  --color-green: #63c04e;
}
